<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Analysis and Expanding Cards</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./static/Styles/res.css">
        

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function fetchDetails(name){
            fetch('/data4Res', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({"name": name})
                })
                .then(response => response.json())
                .then(data => {
					updateDetails(data.name,data.path,data.prompts,data.objects, '',true);
                    console.log(data);
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
		
		function updateDetails(name,path,prompts,objectsDistinct,format,server){
		console.log(objectsDistinct);
		if (!server){
			path =`static/Data/${name}/output/tagged_${name}${format}`
			var videoName=name.split('_')[0];
			var prompts = JSON.parse(localStorage.getItem('prompts'));
			}
		else{
			videoName = name;
		}
		
		$('#title').text(`Video Analysis - ${videoName}`);
		$('#videoSource').attr('src', path);
        $('#videoPlayer')[0].load();
		
        for (let obj of objectsDistinct) {
            console.log(obj)
            let card = $('<div>').text(obj).addClass('card');
            $('.card-container').append(card);
			}

		for (let idx in prompts) {
            let p = $('<p>').text(prompts[idx]).addClass('list-group-item');
            $('#FramesDetails').append(p);
			}

		}
        
    </script>
</head>
<body>
    <div class="bar">
        <h1 class="text-center" id="title" onclick="(function() {window.location.href = '/';})()">Video Analysis - {{videoName}}</h1>
    </div>
    <div class="container mt-5">
                <!-- כרטיסיות מתרחבות -->
                <h3>Object found in video:</h3>
                <div class="card-container">
                    {% for obj in objects %}
                    <div class = "card">{{obj}}</div>
                    {% endfor %}
                </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <video id="videoPlayer" width="100%" controls>
                    <source id="videoSource" type="video/mp4" src = "{{path}}"">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="col-md-6">
                <h3 id="FramesDetails">Frames Details:</h3>
                <div class="list-group">
                    {% for p in prompts %}
                    <p class="list-group-item">{{prompts[p]}}</p>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</body>
</html>
